/*div{
	display: inline-block;
}
*/
.satu{
	width: 200px;
	height: 200px;
	background-color: lightblue ;
/*	margin-left: 100px;
	margin-top: 30px;
	margin-bottom: 150px;
	margin-right: 50px;
	margin-right: 30px;*/
	margin-left: auto;
	margin-right: auto;
}

.dua{
	width: 100px;
	height: 100px;
	background-color: lightgreen ;
	margin-top: -100px;
	margin: auto; 
}

.tiga{
	width: 50px;
	height: 50px;
	background-color: violet ;
	/*tulis satu px jika ingin ukurannya sama*/
	/*atas kanan bawah kiri*/
	margin: 10px 20px 30px 40px;
}