/*Ini Komentar*/
/*color dapat menggunakan rgb,nama warna dan hexadecimal*/
/*text-align= mengatur rata tuliasan (left,right,center)*/
/*text-indent = memberikan jarak bagian awal dari paragraf*/
/*decoration (overline,inline,line-throughts,none)*/
h1{
	color: #EF00FF; 
	font-size: 150px; 
	text-decoration: overline;
	text-transform: uppercase;
}
p{
	text-align: left;
	text-indent: 100px;
	text-transform: capitalize;
	letter-spacing: 5px;
	/*word-spacing: 5px;*/
}
a{text-decoration: none;}